@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Custom cursor */

body {
  cursor: none;
}

.cursor,
.shadow {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  /* Ensure they are above all other content */
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: blue;
  transition: transform 0.1s ease-out;
}

.shadow {
  width: 30px;
  height: 30px;
  background-color: #ffc86b;
  transition: transform 0.3s ease-out;
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  text-decoration: none;
  list-style: none;
}

.animated {
  opacity: 0;
  transform: translateY(50px);
  /* Example: Start from bottom */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


html {
  scroll-behavior: smooth;
}

.animated.active {
  opacity: 1;
  transform: translateY(0);
}


.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/* Home */

#home {
  background: #34353a;
  min-height: 928px;
  position: relative;
  box-shadow: rgba(16, 16, 16, 0.35) 6px 11px 32px;
}

#home nav {
  display: flex;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  align-items: center;
  height: 200px;
}

#home nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#home nav ul li a {
  color: #aeafaf;
  text-decoration: none;
  font-size: 25px;
}

#home nav logo a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  transition: ease 0.5s;
}

#home nav ul li a:hover {
  color: #ffc86b;
}

#home nav logo img {
  width: 230px;
}

#home form input {
  padding: 15px 20px;
  border-radius: 10px;
  color: #eee;
  background: #3d3e42;
  font-size: 20px;
  width: 270px;
  border: 1px solid #3d3e42;
}

#home form {
  position: relative;
}

#home form .fa-search {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffc86b;
}

#home nav button {
  display: none;
}

#home .bnr_info::before{display: none;}

#home {
  background-image: url(/images/images6.png);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 660px;
}


.navbar-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #34353a;
  transition: left 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-menu ul li {
  margin: 20px 10px;
  padding: 10px 20px;
  border: 2px solid #ffc86b;
  border-radius: 20px;
}

.navbar-menu ul li:hover {
  background: #ffc86b;
  
  }

  .navbar-menu ul li:hover > a{
    color: #34353a;
    
    }

.navbar-menu ul li a {
  color: #ffc86b;
  text-decoration: none;
  font-size: 25px;
  transition: color .3s ease;
  font-family: "Space Mono", monospace;
  text-align: center;
  width: 100%;
  display: block;
  transition: ease all .5s;
}

.navbar-menu ul li a:hover {
  color: #34353a;
  }

.close-btn {
  position: relative;
  top: 70px;
  right: 10px;
  background: 0 0;
  border: none;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  background: #ffc86b;
  border-radius: 100%;
  height: 40px;
  width: 43px;
  transition: ease all .5s;
}

.close-btn:hover {
  background: transparent;
  border: 1px solid #ffc86b;
}

.blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9998;
}

.navbar-menu.active {
  left: 0;
}

.blur-bg.active {
  opacity: 1;
  visibility: visible;
}

.nav_side-menu {
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.icon_con_sidebar {
  display: flex;
  gap: 20px;
}

.icon_con_sidebar i {
  font-size: 40px;
  margin: 20px auto;
}


#home .bnr_info span {
  font-family: "Anton SC", sans-serif;
  color: #ffc86b;
  font-size: 80px;
}

#home .bnr_info {
  font-family: Poppins, serif;
  color: #ebecee;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.bnr_info h2 {
  font-size: 60px;
  z-index: 2222;
  text-shadow: 1px 1px 8px #201010;
}

.bnr_info p {
  text-shadow: 1px 1px 8px #201010;
  font-size: 30px;
  font-family: "Space Mono", monospace;
  z-index: 2222;
}

.bnr_info a {
  z-index: 2222;
  text-align: center;
  border: 10px solid #ffc86b;
  width: 265px;
  padding: 20px;
  color: #ffc86b;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
  margin-top: 40px;
  border-radius: 10px;
  transition: ease .7s;
}

.bnr_info a:hover {
  color: #fff;
  border: 10px solid #fff;
  border-radius: unset;
}

#home .bnr_info {
  position: relative;
}

#home .bnr_info::before {
  content: "";
  background-image: url(/images/Johnneeeel\(1\)\(1\)-Photoroom.png);
  height: 680px;
  width: 30%;
  z-index: 44;
  position: absolute;
  left: 761px;
  top: 47px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.social_media {
  position: absolute;
  right: 0;
  bottom: 0;
}

.social_media ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin-bottom: 60px;
}

.social_media ul li img {
  width: 50px;
  position: relative;
  transition: ease all 0.5s;
  opacity: 1;
}

.social_media ul li img:hover {
  opacity: 1;
  transform: scale(50%);
}

.social_media ul {
  position: relative;
}

.social_media ul::before {
  content: "";
  width: 5px;
  height: 210px;
  background: #ffc86b;
  position: absolute;
  right: 26px;
  bottom: 262px;
}

.social_media2 {
  display: none;
}



/* End Home */

/* About and Skill */

#about_skill {
  background: #31333b;
  color: #fff;
  min-height: 100vh;
  padding: 200px 0;
}

#about_skill .about h2 {
  font-size: 80px;
  font-family: Poppins, serif;
  padding-bottom: 40px;
}

#about_skill .about p {
  font-family: "Space Mono", monospace;
  font-size: 19px;
  margin-left: 190px;
  position: relative;
}

#about_skill .about p::before {
  content: "";
  height: 7px;
  background: #ffc86b;
  width: 169px;
  position: absolute;
  left: -190px;
  top: 13px;
}


.skills {
  display: flex;
  gap: 20px 20px;
  justify-content: space-around;
  align-items: center;
  padding-top: 170px;
  text-align: center;
  flex-wrap: wrap;
}

.skills section img {
  width: 100px;
  margin: 0 auto;
}

.skills section {
  padding: 90px 100px;
  background: #3d3e42;
  border-radius: 20px;
  width: 330px;
  transition: ease all 0.6s;
}

.skills>section:nth-child(9) {
  background: #ffc86b;
}

.skills section h3 {
  font-family: "Space Mono", serif;
  margin-top: 40px;
  font-size: 21px;
}

.skills section:hover {
  background: #ffc86b;
  color: #34353a;
}

.skills section:last-child:hover {
  background: #3d3e42;
  color: #ffc86b;
}


/* ENd About and Skill */

/* Project */
#Project {
  min-height: 100dvh;
  background: #31333b;
  padding-bottom: 200px;
}

#Project h2 {
  font-size: 80px;
  font-family: Poppins, serif;
  padding-bottom: 40px;
  text-align: center;
  color: #ffc86b;
  position: relative;
}

#Project h2::before {
  content: "";
  height: 7px;
  background: #ffc86b;
  width: 169px;
  position: absolute;
  left: 350px;
  top: 60px;
}

#Project h2::after {
  content: "";
  height: 7px;
  background: #ffc86b;
  width: 169px;
  position: absolute;
  right: 350px;
  top: 60px;
}

.project_grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px 10px;
  flex-wrap: wrap;
}

.project_con img {
  width: 100%;
  max-width: 680px;
}

#Project p {
  font-family: "Space Mono", monospace;
  font-size: 19px;
  position: relative;
  padding-bottom: 70px;
  text-align: center;
  color: #fff;
}

section {
  position: relative;
}

.img-container {
  position: relative;
}

.img-container img {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ffc86b;
  font-family: "Space Mono", monospace;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none;
  z-index: 22222;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

section:hover .overlay {
  opacity: 1;
}

section:hover .hover-overlay {
  opacity: 1;
}

/* End Project */



/* Experience */

#experience {
  background: #3d3e42;
  min-height: 100dvh;
  padding-bottom: 300px;
}

#experience h2 {
  font-size: 80px;
  font-family: Poppins, serif;
  padding-bottom: 40px;
  color: #fff;
  position: relative;
  top: -62px;
}

#experience h3 {
  font-size: 40px;
  font-family: "Space Mono", monospace;
  color: #ffc86b;
  position: relative;
}

#experience h4 {
  font-size: 30px;
  font-family: Poppins, serif;
  color: #fff;
  margin: 10px 0 40px;
}

#experience p {
  font-size: 25px;
  font-family: "Space Mono", monospace;
  color: #fff;
}

#experience .flex_con section {
  margin-left: 380px;
  position: relative;
}

#experience .flex_con {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.flex_con .circle {
  background: #31333b;
  width: 130px;
  font-size: 30px;
  font-family: "Space Mono", monospace;
  color: #fff;
  padding: 15px 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  left: -380px;
  top: 80px;
}

#experience h3::before {
  content: "";
  height: 30px;
  width: 30px;
  background: #ffc86b;
  display: block;
  position: absolute;
  border-radius: 100%;
  left: -125px;
  top: 30px;
  box-shadow: 0px 0px 14px #ffc86b;
}

#experience h3::after {
  content: "";
  height: 310px;
  width: 10px;
  background: #fff;
  display: block;
  position: absolute;
  left: -115px;
  top: 90px;
}

/* END Experience */


/* Contact */

#contact {
  position: relative;
  width: 100%;
  min-height: 50vh;
  border: 2px solid #ffc86b;
  box-sizing: border-box;
  background: #31333b;
}

#contact::before,
#contact::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: #31333b;
}

#contact::before {
  top: -2px;
  /* Adjust according to the border width */
  left: 50%;
  transform: translateX(-50%);
}

#contact::after {
  bottom: -2px;
  /* Adjust according to the border width */
  left: 50%;
  transform: translateX(-50%);
}

#contact h2 {
  font-size: 75px;
  font-family: Poppins, serif;
  padding-bottom: 40px;
  color: #fff;
  position: relative;
  top: -60px;
  text-align: center;
}

.contact_con {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact_con section {
  background: #3d3e42;
  width: 470px;
  padding: 30px 50px;
  font-family: "Space Mono", monospace;
  color: #ffc86b;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}

.contact_con section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact_con section .fa-solid {
  font-size: 30px;
}

.contact_con>section:nth-child(3) {
  flex-basis: 40%;
  flex-shrink: 1;
}

.icon_con_footer i {
  font-size: 50px;
}

.icon_con_footer {
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 80px;
  z-index: 444;
}

/* End Contact */


#copyright {
  min-height: 20vh;
  background: #3d3e42;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright p {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  color: #fff;
}



#backToTopBtn {
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #555; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
}

#backToTopBtn:hover {
  background-color: #ffc86b; 
  color: #000; 
}